@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.color-primary {
  color: #75AB4D;
}

.bg-primary {
  background-color: #75AB4D;
}

.border-primary {
  border-color: #75AB4D;
}

.hover-color-primary:hover{
  color: #75AB4D;
}

.hover-color-primary-dark:hover{
  color: #4C7D2F;
}

.hover-bg-primary-dark:hover{
  background-color: #4C7D2F;
}

.hover-border-primary-dark:hover {
  border-color: #4C7D2F;
}

.player-card {
  @apply text-center p-4 bg-white rounded-xl shadow-xl;
}

.player-image {
  @apply rounded-xl w-full mb-4;
}

.player-info .player-number {
  @apply font-bold text-xl;
}

.player-info .player-name {
  @apply mt-2 text-lg;
}

.player-info .player-position {
  @apply text-white;
}

.player-carousel .carousel-title {
  @apply text-2xl font-bold mb-4;
}

.container {
  @apply mx-auto p-4;
}