@tailwind base;
@tailwind components;
@tailwind utilities;

.color-primary {
  color: #75AB4D;
}

.bg-primary {
  background-color: #75AB4D;
}

.border-primary {
  border-color: #75AB4D;
}

.hover-color-primary:hover{
  color: #75AB4D;
}

.hover-color-primary-dark:hover{
  color: #4C7D2F;
}

.hover-bg-primary-dark:hover{
  background-color: #4C7D2F;
}


.hover-border-primary-dark:hover {
  border-color: #4C7D2F;
}